.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(/images/soon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 650px;
    color: #fff;

}
.title-coming{
    color: white;

}

.brand-title{
    color: #79bb2a;
}
.brand-line{
    background-color: #79bb2a;
}

@media only screen and (max-width: 767px) {

    .title-about{
        color: white;
        text-align: center;
        padding-top:50px;
        padding-bottom: 50px;
    }
}